body {
	margin:0px;
}

.board {
    position: relative;
    margin: 50px;
    width: 1180px;
    height: 620px;
/*     background-color: cyan; */
}

.hidden {
	visibility: hidden;
}

.title {
	position: absolute;
	height: 50px;
	width: 100%;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	color: red;
	font-weight: bold;
/* 	background-color: green; */
}
