

/* .player_name { */
/* 	position: absolute; */
/* 	height: 35px; */
/* 	line-height: 35px; */
/* 	width:50%; */
/* 	font-size: 30px; */
/* 	text-align:center; */
/* 	color: red; */
/* 	font-weight: bold; */
/* } */



.player_name.player_top_left {
	top: 50px;
	left: 0px;
/*     background-color: yellow; */
}

.player_name.player_top_right {
	top: 50px;
	left: 590px;
/*     background-color: pink; */
}

.player_name.player_bottom_left {
	top: 585px;
	left: 0px;
/*     background-color: yellow; */
}

.player_name.player_bottom_right {
	top: 585px;
	left: 590px;
/*     background-color: pink; */
}
